
.navbar {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 20px;
    width: 6%;
    background: #E4D8CA;

    height: 100%;

    padding: 23px;
    box-sizing: border-box;
}

.navbar ul{

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    width: fit-content;
    align-items: center;
    margin: 0;

}

.navbar ul li{
        list-style: none;
    height: 100%;

}
.navbar a{
    text-decoration: none;
}
.navbar img{
    width: 100%;
    object-fit: contain;
}
