.oneBookshelf{
    height: 100%;

}
.bookshelfHeader{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.bookshelfHeader > div > img{
    cursor: pointer;
}
.booksContainer{

    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 10px;
    height: 89%;
    overflow-y: auto;
    overflow-x: hidden;
}
