body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #E4D8CA;
    padding: 0;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 18px;
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
    width: 2px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8e8e8e;
}
.error{
    color: red;
}

hr{
    width: 100%;
}
.defaultButton {
    background: linear-gradient(180deg, #E98354 0%, #AE434E 100%);

    border: 0;
    outline: 0;
    border-radius: 6px;
    padding: 8px 28px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
}
.button1 {
    background: linear-gradient(180deg, #e09ae8 0%, #b418bf 100%);

    border: 0;
    outline: 0;
    border-radius: 6px;
    padding: 8px 28px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
}
h2{

    width: fit-content;
    color: #7e6d68;
    font-size: 22px;
}
a {
    font-size: 16px
}

[class*="Page"]{
    width: 50vw;
    height: 100vh;
}



.plainForm{
    justify-self: center;
    width: 50%;
    height: 100vh;
    background: #FCF8F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
    background: url(src/assets/bookBackground.png);
    background-size: 201px;
}

.plainForm label{
    width: 54%;
}
.plainForm input{

    background-color: #f8ede5;
    border-radius: 25px;
    padding: 15px;
    border: 0;
    outline: 0;
    box-shadow: inset 0 0 14px 1px #dbdbdb69;
    width: 100%;

}


.simpleForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 27px;
   background-size: 201px;
}

.simpleForm label,  .simpleForm textarea{
    width: 100%;
}
.simpleForm input,
.simpleForm textarea{
box-sizing: border-box;
    background-color: #dbdbdb;
    border-radius: 25px;
    padding: 15px;
    border: 0;
    outline: 0;
    box-shadow: inset 0 0 14px 1px #dbdbdb69;
    width: 100%;

}
.simpleForm .form-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
a{
    color: black;

}
